@import "../style/global.less";

button.sw-button {
  background: #FBBD08;
  border-color: #FBBD08;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

input.sw-input {
  &:not(:focus):hover {
    border: 1px solid #B2B2B2;
  }
}

& .top-image {
  text-align: center;

  & .image-title {
    width: 35vmin;
  }
}

.sw-box {
      width: 35vmin;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
}
